<?xml version="1.0"?>

<model>
  <name>turtlebot3_with_radiation_sensor</name>
  <version>2.0</version>

  <sdf version="1.4">tb3_with_RadSensor.sdf</sdf>
  <sdf version="1.5">tb3_with_RadSensor.sdf</sdf>

  <author>
    <name>Taehyun Jung</name>
    <email>jth8090@khu.ac.kr</email>
  </author>

  <description>
    TurtleBot3 Waffle Pi with radiation sensor
  </description>
</model>